@page "/counter"
@inject IJSRuntime JSRuntime

<div id="counter">
    <h2 id="inner">Visible</h2>
</div>

<button class="btn btn-primary btn-sm" @onclick="Hide">Hide</button>
<button class="btn btn-primary btn-sm" @onclick="Show">Show</button>


@code {
    private int currentCount = 0;

    private void Hide()
    {
        JSRuntime.InvokeVoidAsync("Hide");
    }

    private void Show()
    {
        JSRuntime.InvokeVoidAsync("Show");
    }
}
